* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

.grid {
    height: 100vh;
    /* border: 10px solid grey; */
    display: grid;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    /* justify-items: center; */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

button {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid white;
    font-size: 2rem;
    outline: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
}
